@import url(./vendor/normalize.css);
@import url('https://rsms.me/inter/inter.css');
@import url(./vendor/fonts/fonts.css);

.page {
   background-color: #eee;
   color: white;
   font-family: 'Inter', 'Arial', sans-serif;
   width: 100%;
   max-width: 1440px;
   width: 100%;
   min-width: 320px;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
   margin: auto;
}

.header {
   max-width: 1440px;
   width: 100%;
   position: absolute;
   z-index: 1;
}
.header__container {
      display: flex;
      justify-content: space-between;
      padding-top: 48px;
      padding-right: 40px;
      padding-left: 40px;
      
}

.header__logo {
   width: 122px;
   height: 24px;
}

.header__nav {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   max-width: 701px;
   margin: auto;
   justify-content: space-around;
   padding-left: 0;
   box-sizing: border-box;
}

.header__link {
   color: #fff;
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   margin-right: 20px;
}
.header__link:last-child {
   margin-right: 0;
}

.header__link:hover {
   cursor: pointer;
   opacity: .5;
}

.lead {
   position: relative;
   max-width: 1440px;
   width: 100%;
   height: 1032px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-image: url(./images/lead.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.lead:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0; left: 0;
   background-color: rgba(0,0,0,0.5);
}

.lead__container {
   max-width: 1440px;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   margin-top: 275px;
   z-index: 1;
}

.lead__title {
   font-family: 'Inter';
   font-style: 900;
   font-size: 96px;
   line-height: 96px;
   margin-top: 24px;
   margin-bottom: 0;
}

.lead__description {
   max-width: 763px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 40px;
   margin-top: 24px;
   margin-bottom: 0;
}

.lead__logo {
   width: 120px;
   height: 123px;
   background-image: url(./images/lead__logo.svg);
   background-size: contain;
   background-repeat: no-repeat;
}

.lead__button {
   width: 215px;
   height: 48px;
   border: 1px solid #fff;
   background-color: rgba(0,0,0,0);
   padding: 0, 41px, 0, 41px;
   color: #fff;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 48px;
   text-transform: uppercase;
   margin-top: 48px;
   text-decoration: none;
}

.lead__button:hover {
   cursor: pointer;
   opacity: .5;
}

.product__container {
   background-color: #fff;
   width: 100%;
   height: 600px;
   background-image: url(./images/product.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   display: flex;
   justify-content: space-around;
}
.product__features {
   display: flex;
   margin-bottom: 48px;
}
.product__heading {
   color: black;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 0;
   text-align: right;
}
.product__description {
   max-width: 272px;
   text-align: right;
   color: black;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
   margin-top: 0;
   margin-bottom: 0;
}
.product__info {
   width: 272px;
}
.product__icon {
   width: 64px;
   height: 64px;
   margin-left: 16px;
}

.product__left-group {
   margin-top: 144px;
   padding: 0;
   margin-right: 80px;
}
.product__right-group {
   margin-top: 144px;
   padding: 0;
   margin-right: 10px;
}
.product__heading_type_right {
   text-align: left;
   margin-left: 14px;
}
.product__description_type_right {
   text-align: left;
   margin-left: 14px;
}
.booking {
   max-width: 1440px;
   width: 100%;
   height: 432px;
   position: relative;
}
.booking__container {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   background-image: url(./images/booking.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.booking:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0; left: 0;
   background-color: rgba(0,0,0,0.4);
}
.booking__info {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}
.booking__heading {
   max-width: 523px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 0;
}

.booking__underline {
   width: 189px;
   border-bottom: 2px solid #fff;
   margin: 24px auto;
}
.booking__text {
   max-width: 400px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.booking__button {
   max-width: 199px;
   height: 48px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #fff;
   background-color: rgba(0,0,0,0);
   padding: 0 41px 0 41px;
   color: #fff;
   margin-top: 48px;
}
.booking__button:hover {
   cursor: pointer;
   opacity: .5;
}
.margin {
   margin-top: 96px;
   margin-bottom: 96px;
}
.menu {
   display: flex;
}
.menu__container {
   max-width: 1440px;
   width: 1440px;
   background: #eee;
   color: #000;
}
.menu__info {
   max-width: 1118px;
   width: 1118px;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   color: #000;
   margin: auto;
}
.menu__heading {
   max-width: 523px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 0;
}

.menu__underline {
   width: 189px;
   border-bottom: 1px solid #000;
   margin: 24px auto;
}
.menu__text {
   max-width: 474px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.menu__sections {
   display: flex;
   flex-direction: row;
   max-width: 145px;
   width: 145px;
   justify-content: space-between;
   margin-top: 48px;
   margin-bottom: 48px;
}
.menu__link {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   margin-right: 40px;
}
.menu__link:hover {
   cursor: pointer;
   opacity: .5;
   text-decoration-line: underline;
}
.menu__list {
   width: 544px;
   height: 456px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   row-gap: 24px;
   column-gap: 30px;
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
.menu__item {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: left;
   height: 72px;
}
.menu__paragraph {
   display: flex;
   flex-direction: column;
}
.menu__item-photo {
   width: 72px;
   height: 72px;
   border-radius: 50%;
   margin-right: 24px;
   object-fit: cover;
}
.menu__item-name {
   max-width: 352px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   margin: 0;
}
.menu__item-presenting {
   font-style: normal;
   max-width: 419px;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
   margin: 0;
}
.menu__item-price {
   margin: 0;
   margin-left: auto;
}
.menu__list-container {
   max-width: 1118px;
   width: 1118px;
   margin: auto;
   height: 456px;
}

.testimonials {
   max-width: 1440px;
   width: 100%;
   height: 504px;
   position: relative;
   margin: auto;
}

.testimonials__container {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   background-image: url(./images/testimonials.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.testimonials:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0; left: 0;
   background-color: rgba(0,0,0,0.4);
}
.testimonials__info {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   color: #fff;
}
.testimonials__heading {
   max-width: 250px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 0;
}

.testimonials__underline {
   width: 189px;
   border-bottom: 2px solid #fff;
   margin: 24px auto;
   margin-bottom: 50px;
}
.testimonials__text {
   max-width: 735px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.testimonials__author {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
   margin-top: 24px;
}
.testimonials__switcher {
   margin-top: 54px;
   margin-bottom: 7px;
}

.news {
   max-width: 1440px;
   width: 100%;
   height: 913px;
   color: #000;
}
.news__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
   height: 100%;
}
.news__info {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.news__heading {
   max-width: 523px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 0;
}

.news__underline {
   width: 189px;
   border-bottom: 1px solid #000;
   margin: 24px auto;
}
.news__text {
   max-width: 474px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.news__list-container {
   max-width: 1120px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 48px;
}
.news__list {
   width: 1120px;
   height: 504px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   row-gap: 20px;
   column-gap: 32px;
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
.news__item {
   max-width: 352px;
   width: 352px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   height: 504px;
   color: #000;
}
.news__item-photo {
   width: 100%;
   min-height: 288px;
   max-height: 100%;
}
.news__item-heading {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   margin-top: 24px;
   margin-bottom: 0;
}
.news__item-text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin-top: 0;
   margin-bottom: 24px;
}
.news__item-link {
   text-decoration: none;
   color: #000;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
} 
.news__item-link:hover {
   cursor: pointer;
   opacity: .5;
}
.locations {
   height: 815px;
   position: relative;
}
.locations__container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   background-image: url(./images/locations__background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.locations:after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0; left: 0;
   background-color: rgba(0,0,0,0.9);
}
.locations__info {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}
.locations__heading {
   max-width: 523px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 0;
}

.locations__underline {
   width: 189px;
   border-bottom: 2px solid #fff;
   margin: 24px auto;
}
.locations__text {
   max-width: 400px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.locations__list {
   width: 1120px;
   max-width: 1120px;
   display: flex;
   flex-direction: row;
   height: 431px;
   justify-content: space-between;
   margin-top: 48px;
}
.locations__item {
   height: 100%;
   max-width: 256px;
   width: 256px;
   z-index: 1;
   text-align: center;
}
.locations__image {
   width: 245px;
   height: 239px;
   border-radius: 50%;
}
.locations__name {
   margin-top: 24px;
   margin-bottom: 24px;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 48px;
}
.locations__opening-hours {
   margin: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
.locations__address {
   margin: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
.newsletter {
   height: 432px;
   background-color: #000;
}
.newsletter__info {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}
.newsletter__heading {
   max-width: 523px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 0;
   margin-top: 96px;
}

.newsletter__underline {
   width: 189px;
   border-bottom: 2px solid #fff;
   margin: 24px auto;
}
.newsletter__text {
   max-width: 474px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.newsletter__form-container {
   max-width: 474px;
   width: 474px;
   margin-top: 48px;
}
.newsletter__input {
   width: 157px;
   height: 48px;
   padding: 0px 96px 0px 24px;
   border: 1px solid #FFF;
   background-color: #000;
   color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 48px;
   margin-right: 15px;
   margin-bottom: 96px;
}
.newsletter__button_type_subscribe {
   width: 173px;
   height: 48px;
   border: 1px solid #FFF;
   background-color: #000;
   color: #fff;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 48px;
   text-transform: uppercase;
   padding: 0px 41px;
}
.newsletter__button_type_subscribe:hover {
   cursor: pointer;
   opacity: .5;
}
.footer {
   height: 120px;
   margin: 0 auto;
   display: flex;
}
.footer__container {
   display: flex;
   flex-direction: row;
   background-color: #000;
   width: 100%;
   justify-content: space-between;
   padding: 48px 160px;
}
.footer__copyrigt {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
   margin: 0;
}
.footer__links-container {
   width: 335px;
   max-width: 335px;
}
.footer__links-list {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   justify-content: space-between;
   padding: 0;
   margin: 0;
}
.footer__link {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
.footer__link:hover {
   cursor: pointer;
   opacity: .5;
}
.footer__socials-container {
   width: 124px;
   max-width: 124px;
}
.footer__socials-list {
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   justify-content: space-between;
}
.footer__socials {
   background-color: rgba(217, 217, 217, 0.1);
   border-radius: 50%;
   height: 24px;
   width: 24px;
   position: relative;
}
.footer__social {
   font-weight: 400;
   font-size: 8px;
   line-height: 24px;
   position: absolute;
   left: 30%;
}
.footer__socials:hover {
   cursor: pointer;
   opacity: .5;
}

.testimonials__slider {
   height: 100%;
   width: 100%;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-end;
   justify-content: center;
}
.testimonials__radio-button {
   width: 11px;
   height: 11px;
   margin: 5px;
   border-radius: 50%;
   outline: 1px solid #fff;
   cursor: pointer;
   appearance: none;
}
.testimonials__radio-button:checked {
   animation: check 0.4s linear forwards;
}
.testimonials__radio-button:checked:nth-of-type(1) ~ .testimonials__inner {
   left: 0%;
}
.testimonials__radio-button:checked:nth-of-type(2) ~ .testimonials__inner {
   left: -100%;
}
.testimonials__radio-button:checked:nth-of-type(3) ~ .testimonials__inner {
   left: -200%;
}
.testimonials__radio-button:checked:nth-of-type(4) ~ .testimonials__inner {
   left: -300%;
}
.testimonials__inner {
   position: absolute;
   top: 0;
   left: 0;
   width: 300%;
   transition: left 0.4s;
   display: flex;
   flex-flow: row nowrap;
}
.testimonials__contents {
   height: 100%;
   text-align: center;
   display: flex;
   flex: 1;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
}
.testimonials__text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
}
.testimonials__author {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin: 0 auto;
   margin-top: 24px;
}

@keyframes check {
   50% {
      background-color: #fff;
   }
   100% {
      background-color: #fff;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
   }
}